.narancs {
    background-color: orange;
    color: white;
}

#szamitas{
    margin-bottom: 20px;
    background-color: white;
    border: 0;
    color: orange;
}

.center{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#bmiertek{
    color: orange;
}

#idealis{
    color: orange;
}